{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}

{{ "{% block page_title %}" }}{{ entity }}{{ "{% endblock %}" }}
{{ "{% block page_subtitle %}" }}Edición{{ "{% endblock %}" }}

{{ "{% block botones_accion %}" }}
    <a href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}" title="Volver" class="btn btn-default"><i class="fa fa-reply"></i></a>
    <a rol="button" class="btn btn-danger" title="Eliminar" data-toggle="modal" data-target="#modal_delete"><i class="fa fa-close"></i></a>
{{ "{% endblock %}" }}

{{ "{% block page_content %}" }}

<div class="box">
	<div class="box-body">
	
		{# { '{{ form(edit_form) }}' } #}
		
	    {{ '{{ form_start(edit_form) }}' }}
    	<div class="box-body">
    	{{ '{{ form_errors(edit_form) }}' }}
    
	    {{ "{% for field in edit_form %}" }}
	    	{{ "{% if field.vars.name == 'submit' %}" }}
	    	</div>
			<div class="box-footer">
				{{ "{{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-primary'}}) }}" }}
			{{ "{% else %}" }}
	    	<div class="form-group">
		    	{{ "{{ form_row(field) }}" }}
		    </div>
		    {{ "{% endif %}" }}

		{{ "{% endfor %}" }}
		</div>
			
		{{ '{{ form_end(edit_form) }}' }}

	</div>

</div>
{% set hide_edit, hide_delete = true, false %}
{% include 'crud/views/others/record_actions.html.twig.twig' %}
    
{{ "{% endblock %}" }}

{{ "{% block javascripts_inline %}" }}
    <script type="text/javascript">
      $(function () {
      	$('a').tooltip();      
      });
    </script>
{{ "{% endblock %}" }}